<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="d-heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="image">
      <ion-img src="assets\images\hamburger.png"></ion-img>
    </div>
  </div>
</ion-content>